:root {
  --white: hsl(0, 0%, 100%);
  --deep-sky-blue: hsl(195.1, 100%, 50%);
  --phthalo-blue: hsl(233.4, 100%, 26.9%);
  --blizzard-blue: hsl(188.2, 66%, 80.4%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 37.5rem;
}

.services {
  background-image: url("./images/img-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 6.25rem;
}

.products {
  background-image: url("./images/img-6.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 6.25rem;
}

.sign-up {
  background-image: url("./images/img-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 6.25rem;
}